.menu-item-title,
.menu-item-ingredients,
.menu-item-price {
	margin: 0 0 0.5em 0;
}

.menu-item {
	/* layout */
	border-bottom: 1px solid black;
	grid-column: menu;
}

.menu-icon {
	/* typography */
	font-size: 5rem;
	@media (width < 600px) {
		font-size: 2.5rem;
	}
	/* layout */
	grid-column: icon;
	grid-row: 1 / -1;
	margin: 0;
	align-self: self-start;
}

.menu-item-title {
	font-size: clamp(1.25rem, 1.5vw + 0.75rem, 1.75rem);
	line-height: 1.1;
}

.menu-item-info {
	grid-column: menu-description;
	padding-top: .5em;
}

.menu-item-ingredients {
	color: #8b8b8b;
}

.menu-item-price {
	font-size: 1.25rem;
}

.menu-add-btn {
	/* grid layout */
	grid-column: button;
	justify-self: center;
	align-self: center;
	padding: 0;

	/* typography */
	font-size: 2rem;

	/* make a circle */
	width: 3.125rem;
	height: 3.125rem;
	line-height: 3.125rem;
	border-radius: 50%;

	/* styles */
	background-color: white;
	border: 1.5px solid #dedede;

	/* transition to/from hover,active */
	transition: border-color 250ms ease-in-out;

	&:active,
	&:hover {
		cursor: pointer;
	}
	&:hover {
		border-color: black;
	}
	&:active {
		border-color: green;
	}
}
