dialog::backdrop {
	background-color: hsl(from black h s l / 0.75);
}

.payment-dialog {
	isolation: isolate;
	/* z-index: 5; */
	width: clamp(300px, 50%, 450px);
	padding: 16px;
	position: fixed;
	inset: 0;
	margin: auto;
	transition: inset 500ms ease-in-out;
	/* transition-behavior: allow-discrete; */
}

.closing {
	animation: --close 500ms ease-in-out;
}

.modal-input {
	padding: 0.875rem;
}

.payment-form-fields {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

@starting-style {
	.payment-dialog {
		inset: 0 0 -100% 0;
	}
}

@keyframes --close {
	to {
		inset: -100% 0 0 0;
	}
}
