.order-summary-title {
	font-size: 1.75rem;
	line-height: 1;
	text-align: center;
}

.order-summary-subtitle {
	grid-column: menu-start;
	align-self: self-start;
}

.order-summary-price {
	/* typography */
	font-size: 1.25rem;
	line-height: 1.5;

	/* layout */
	grid-column: button-start;
	justify-self: end;
}

.order-summary-item-name {
	/* typography */
	font-size: 1.75rem;

	/* layout */
	grid-column: menu-start;
	justify-self: start;
}
.order-summary-remove-btn {
	/* typography */
	font-family: Verdana, sans-serif;
	font-size: 0.75rem;
	line-height: 1.5;
	color: #bbbbbb;

	/* layout */
	grid-column: menu-description;
	justify-self: start;
	border: none;
	background-color: white;

	/* styles */
	transition: color 0.2s ease-in-out;

	&:active,
	&:hover {
		cursor: pointer;
		color: red;
	}
}

.order-summary-complete-btn,
.order-summary-list,
.order-summary-title,
.order-summary-item {
	grid-column: menu;
}
